 {% extends 'base.html' %}
{% block content %}
 <div class="shadow p-3 mb-5 bg-white rounded">
                <div class="card-body"></div>
                <h5 class="card-title">{{task.name}}</h5>
                <p><b>{{task.priority}}</b></p>
                 <p><b>{{task.date}}</b></p>
                <a class="btn btn-danger" href="{% url 'todoapp:delete' task.id %}">Done</a>
                <a class="btn btn-success" href="{% url 'todoapp:update' task.id %}">Update</a>
            </div>'
 {% endblock %}